* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    body {
        padding-top: 90px;
    }
    .slider-wrapper {
        width: 30%;
        max-height: 750px;
        max-width: 850px;
    }
    .main {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        margin-top: 0.7rem;
    }
    .slides {
        max-width: 25rem;
    }
    
}

@media (max-width: 768px) {
    .slider-wrapper {
        width: 100%;
        max-width: 320px;
    }
    .main {
        display: flex;
        flex-direction: column;
    }
    .captions {
        max-height: 8rem;
    }
    .slides {
        max-width: 35rem;
    }
}

.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    border-radius: 50px;
    padding: 50px;
}

.slides {
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2rem;
}

img {
    width: 100%;
    height: auto;
    transition: 0.4s ease-in;
}

input {
    display: none;
}

.controls {
    display: flex;
    gap: 0.2rem;
    margin-top: 0.35rem;
}

.controls>label {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    cursor: pointer;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gray;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.circle:hover {
    background-color: rgb(54, 54, 54);
    border: 0.1rem solid rgb(54, 54, 54);
}

.circle:active {
    background: #fff;
    border: 0.1rem solid rgb(54, 54, 54);
    cursor: pointer;
}

.text {
    color: rgb(0, 0, 0);
    transform: translateX(-30rem);
    margin-top: 20px;
    max-width: 80%;
    transition: 0.5s ease-in;
}

#r1:checked~div .controls>label:nth-child(1) .circle,
#r2:checked~div .controls>label:nth-child(2) .circle,
#r3:checked~div .controls>label:nth-child(3) .circle,
#r4:checked~div .controls>label:nth-child(4) .circle,
#r5:checked~div .controls>label:nth-child(5) .circle {
    background: rgb(54, 54, 54);
}

#r1:checked~div .controls>label:nth-child(1) .circle:hover,
#r2:checked~div .controls>label:nth-child(2) .circle:hover,
#r3:checked~div .controls>label:nth-child(3) .circle:hover,
#r4:checked~div .controls>label:nth-child(4) .circle:hover,
#r5:checked~div .controls>label:nth-child(5) .circle:hover {
    border: 0.1rem solid rgb(125, 129, 165);
}

#r1:checked~div .captions>p:nth-child(1) {
    transform: translateX(0);
    transform: translateY(0);
}

#r2:checked~div .captions>p:nth-child(2) {
    transform: translate(0, -160%);
}

#r3:checked~div .captions>p:nth-child(3) {
    transform: translate(0, -400%);
}

#r4:checked~div .captions>p:nth-child(4) {
    transform: translate(0, -800%);
}

#r5:checked~div .captions>p:nth-child(5) {
    transform: translate(0, -600%);
}


#r1:checked~.slides>img:nth-child(1) {
    margin-left: 0%;
}

#r2:checked~.slides>img:nth-child(1) {
    margin-left: -100%;
}

#r3:checked~.slides>img:nth-child(1) {
    margin-left: -200%;
}

#r4:checked~.slides>img:nth-child(1) {
    margin-left: -300%;
}

#r5:checked~.slides>img:nth-child(1) {
    margin-left: -400%;
}

